<p id="notice"><%= notice %></p>

<p>
  <strong>書名:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>著者:</strong>
  <%= @book.auther.name %>
</p>

<p>
  <strong>版元:</strong>
  <%= @book.publisher.name %>
</p>

<p>
  <strong>発行日:</strong>
  <%= @book.published %>
</p>

<p>
  <strong>定価:</strong>
  <%= @book.price %>
</p>

<p>
  <strong>ISBN:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>購入日:</strong>
  <%= @book.p_date %>
</p>

<p>
  <strong>購入価格:</strong>
  <%= @book.p_price %>
</p>

<p>
  <strong>読了:</strong>
  <%= @book.read ? '既読' : '未読' %>
</p>

<%= link_to '編集', edit_book_path(@book) %> |
<%= link_to '戻る', books_path %>
